<%- include('partials/header') %>
<div class="mainNav">
  <nav class="navbar navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand text-white titleName">  <i class="fas fa-coffee logoMain"></i> Here I Confess</a>
    </div>
  </nav
</div>



<div class="content">
  <div class="heading">
    Having Secrets?
  </div>
  <div class="para">
  <p>  Do you want to share or confess something that you are unable to do as inperson? If you, then believe me you are at the right place.
</p>
  </div>

</div>
<div class="secondMain">
  <div class="container">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <h1 class="display-3">Confess here!</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg register" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
